{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" type= "text/css" href= "/static/styles/home_page.css">
<link rel="stylesheet" type= "text/css" href= "/static/styles/about_us.css">

{% endblock extra_head %}

{% block main %}
  <div class="about-us-title">
    About us
  </div>

  <div class="about-us-container">
    {% for detail in details %}
    <div class="about-us-box">
      <table>
        <tr><td>{{ detail["picture"] }}</td></tr>
        <tr><td>{{ detail["name"] }}</td></tr>
        <tr><td>{{ detail["email"] }}</td></tr>
        <tr><td>{{ detail["linkedin"] }}</td></tr>
        <tr><td>{{ detail["github"] }}</td></tr>
      </table>
    </div>
    {% endfor %}
  </div>

{% endblock main %}