
.about-us-title {
    color: rgb(29, 161, 242);
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-us-container {
    max-width: 100%;
    margin: auto;

}

.about-us-box {
    width: 200px;
    margin: 20px;
    display: inline-block;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 5px;
}

table {
    width: 100%;
}

td, th {
    text-align: center;
    padding: 8px;
}