{% extends 'base.html' %}

{% from 'product/common.html' import edit_field %}

{% set title = 'Edit Product' %}

{% block title %}{{ title }}{% endblock title %}

{% block main %}
<div class="row">
    <div class="product-edit well offset2 span8">
        <form method="post" class="form-horizontal">
            <legend>{{ name }}</legend>
            {{ edit_field(form.name, maxlength=255, class="span3", value=product.name) }}
            {{ edit_field(form.description, rows="5", class="span5" ) }}
            {{ edit_field(form.price, class="span3", value=product.price) }}
            <div class="form-actions">
                <button type="submit" class="btn">Save</button> or <a href="{{ url_for('products_list') }}">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script>
$( document ).ready(function() {
    var textarea = document.getElementById("description");
    textarea.innerHTML = "{{ product.description }}"
})
</script>
{% endblock main %}