{% extends 'base.html' %}

{% from 'product/common.html' import edit_field %}

{% set title = 'DB Credentials' %}

{% block title %}{{ title }}{% endblock title %}

{% block main %}
<div class="row">
    <div class="product-edit well offset2 span8">
        <form method="post" class="form-horizontal">
            {{ edit_field(form.credentials, rows="5", class="span5", placeholder="DB credentials") }}
            <div class="form-actions">
                <button type="submit" class="btn">Save</button> or <a href="{{ url_for('products_list') }}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock main %}